p{
    font-size: 13px;
    color: white;
}
h1{
    font-size: 30px;
    color: white;
}
h4{
    font-size: 20px;
    color: white;
}
.blackFont{
    color: black;
}
body{
    overflow-x:hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    position: static;
}
.header{
    float: left;
    position: static;
}
main{
    width: 100%;
    padding: 60px 0 0 0;
    margin: 0;
    float: left;
    height: auto;
    position: static;
}
.mainFrame{
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 15px;
    padding: 10px;
    margin: 10px 10px;
    color: white;
    float: left;
}
.floatLeft{
    float: left;
}
.pictureShowingFrame{
    height: 20%;
    width: 20%;
}
.pictureShowingFrame .pictureShowing{
    width:100%;/*该div位于一个方形div内，因此设置宽度为百分之百可以使其充满格子*/
    height:0;/*默认高度为0，此时*/
    padding-bottom: 100%;/*下内边距为百分之百，使得外面的方形div可以被充满*/
    overflow:hidden;  /*溢出内容隐藏*/
    background-position: center center; /*将图片中心位于中间*/
    background-repeat: no-repeat; /*不重复，防止出现平铺的情况*/
    background-size:cover; /*使背景可以完全覆盖div*/
}
.introductionWordsTitle{
    display: block;
    font-size: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.introductionWordsContent{
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.pageNumber{
    color: white;
    font-size: 20px;
    width: 100%;
    float: right;
    text-align: center;
}

.content{
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.resultWords{
    width: 80%;
    float: left;
}
.fullSize{
    width: 100%;
}