footer{
    border-radius: 10px;
    float: left;
    background-color: cadetblue;
    margin: auto;
    width: 100%;
   padding: 0;
}
.body .footerFrame{

}
footer p{
    text-align: center;
    height: auto;
    font-size: 15px;
    padding: 30px;
    color: white;
}
footer div{
    float: left;
}
footer img{
    float: left;
    padding: 30px;
    color: white;
}